
@mixin glas-gradient($brightness: 0.60, $saturation: 0.05, $bg-brightness: 0) {
  background: radial-gradient(223.66% 104.59% at 100.00% -0.00%, rgba(#43424E, $brightness) 0%, rgba(#43424E, 0.00) 100%),
              radial-gradient(108.71% 97.24% at -5.20% 100.00%, rgba(#BF1834, $saturation) 0%, rgba(#BF1834, 0.00) 100%),
              lighten($bg-1, $bg-brightness);
}

@mixin solid($bg: $bg-3, $intensity: 8) {
  background: $bg;
  box-shadow: 0 1px 0 lighten($bg, calc($intensity / 3)),
              0 -1px 0 lighten($bg, $intensity);
}

@mixin solid-shadow($bg: $bg-3, $intensity: 8, $shadow: 0 0 4px #0006) {
  background: $bg;
  box-shadow: 0 1px 0 lighten($bg, calc($intensity / 3)),
              0 -1px 0 lighten($bg, $intensity),
              $shadow;
}