@import 'lib.scss';
@import 'reset.scss';


// main color variables
$primary: #2684F8;
$secondary: #FFD742;

// font color variables
$font-light: #FAFAF9;
$font-med: #B2B0AC;
$font-dark: #0c0e0f;

// background color variables
$bg-0: #050507;
$bg-1: #1c1c1f;
$bg-2: #29292c;
$bg-3: #3c3c3f;
$bg-4: #4f4f52;

// chart colors
$blue: #2684F8;
$yellow: #FFD742;
$red: #ff6370;
$green: #70cf97;
$purple: #6662fd;

// font variables
$font: Bai Jamjuree;


// text styles
@mixin header1 {
  font-family: Bai Jamjuree;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@mixin header2 {
  font-family: Bai Jamjuree;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@mixin label {
  font-family: Bai Jamjuree;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@mixin tag {
  font-family: Bai Jamjuree;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@mixin paragraph {
  font-family: Bai Jamjuree;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}